.background {
  margin: 0;
  padding: 0;
  background-image: url(./images/community.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%; 
}

#information {
    height:110vh;
    background-color:white;
    padding-top:30vh;
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: 'PT Serif', serif;
    font-size: 4vw;
    text-align: center;
}

.connect_feel_image{
    float: right;
    padding-right: 95px;
    padding-left: 25px

p{ line-height: 1em; }
h1, h2, h3, h4{
    color: Black;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;




  
  
