.background {
  margin: 0;
  padding: 0;
  background-image: url(./images/face.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%; 
}

#information {
    height:110vh;
    background-color:white;
    padding-top:30vh;
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: 'PT Serif', serif;
    font-size: 4vw;
    text-align: center;
}

#icon_home{
    padding-top: 10vh;
    height: auto;
    width: 25vw;
}


.logo{
  float:left;
}


#menu {
  float: right;
}

.connectfeel {
  min-height: 100vh;
  font-family: 'Playfair Display';
  font-size: 52px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  position: relative;
  padding-top: 50vh;
  text-align: center;
}

.downloads {
    padding-top: 10%;
    margin-left: 15%;
    height:250px;   
}

.about {
    padding-bottom: 50vh;
    padding-top: 10%;
    margin-left: 15%;
    height:250px; 
}
#facebook {
    max-width: 20%;
    height: auto;
}
#twitter {
    max-width: 20%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}
#instagram {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

#cantact {
    padding-top: 20vh;
    display: block;''
    height: auto;
    width: 35vw;
    vertical-align: middle;
    margin: auto;
}


.about_type{
    padding-top: -5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 300;
    font-size: 6vw;
}

#racism {
    color: red;
}
.downloads_type{
    font-family: 'PT Serif', serif;
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
    padding-left: 20vw;
    padding-top: 20vh;
    display: inline-flex;
    height: 100vh;
}


}
.update{
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 200;
    font-size: 2vw;   
    display: table;
    width: 100%;
    line-height: 7vh;
}



.update1 {
    display: table-cell;
    padding: 5vw;
}


h2{
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 4vw;
}



