.background {
  margin: 0;
  padding: 0;
  background-image: url(./images/community.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%; 
}

#information {
    height:110vh;
    background-color:white;
    padding-top:30vh;
    padding-left: 25vw;
    padding-right: 25vw;
    font-family: 'PT Serif', serif;
    font-size: 4vw;
    text-align: center;

}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}
.navigation-bar li a:hover {
  color: white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}

.endracism {
  min-height: 100vh;
  font-family: 'Playfair Display';
  font-size: 52px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  position: relative;
  padding-top: 50vh;
  text-align: center;

}
#safari {
    max-width: 20%;
    height: auto;
}
#chrome {
    max-width: 20vw;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}
#firefox {
    max-width: 20%;
    height: auto;
    text-align: center;    
}

.about {
    padding-bottom: 50vh;
    padding-top: 10%;
    margin-left: 15%;
    height:250px; 
}


#downloadpage {
    padding-top: 20vh;
    display: block;''
    height: auto;
    width: 35vw;
    vertical-align: middle;
    margin: auto;
}


.about_type{
    padding-top: -5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 300;
    font-size: 6vw;

}
.downloads_type{
    font-family: 'PT Serif', serif;
    font-size: 3vw;
    font-weight: 400;
    text-align: left;
    padding-left: 20vw;
    padding-top: 20vh;
    display: inline-flex;
    height: 100vh;

}
.update{
    height: 100vh;
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 200;
    font-size: 2vw;   
    display: table;
    width: 100%;
    line-height: 7vh;
}



.update1 {
    display: table-cell;
    padding: 5vw;
}


h2{
    text-align: left;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 4vw;
}

}
</div>
.rectangle {
    width: 100%;
    height: 10px;
    background: grey;
    color: grey;
    text-decoration-color: grey
    
}

.Connect_Feel_image{
    float: right;
    padding-right: 95px;
    padding-left: 25px
        



.gif {
   padding-top: 250px;
    width: 50%;
    height: 50%
